@model IEnumerable<DockerMvc.Models.SubCategoria>

@{
    ViewData["Title"] = "SubCategorías";
}

<h2>SubCategorías</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nueva SubCategoría</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nombre Categoría</th>
            <th>Productos Asociados</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Categoria.Name</td>
                <td>
                    <ul>
                        @foreach (var producto in item.SubCategoriaProductos.Select(scp => scp.Productos))
                        {
                            <li>@producto.Nombre</li>
                        }
                    </ul>
                </td>
                <td>

                </td>
            </tr>
        }
    </tbody>
</table>
