@model List<DockerMvc.Models.SubCategoria>

@{
    ViewData["Title"] = "Perfil de Usuario";
}

<div class="container">
    <h2>Perfil de Usuario</h2>
    <div class="row">
        @foreach (var subcategoria in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@subcategoria.Categoria.Name</h5>
                        <p class="card-text">Categoría: @subcategoria.Categoria.Name</p>
                        <ul class="list-group">
                            @foreach (var subCategoriaProducto in subcategoria.SubCategoriaProductos)
                            {
                                <li class="list-group-item">
                                    @subCategoriaProducto.Productos.Nombre - 
                                    Precio: @subCategoriaProducto.Productos.Precio
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
