

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h1>Hola eres Admin</h1>
    <a href="@Url.Action("Index", "Productos")"><button>Mantenimiento de Productos</button></a>
    <a href="@Url.Action("Index", "Categoria")"><button>Mantenimiento de Categorías</button></a>
    <a href="@Url.Action("Index", "SubCategoria")"><button>Mantenimiento de Subcategorías</button></a>


</div>
</body>
</html>