@model DockerMvc.ModelView.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<h2>@ViewData["Title"]</h2>

<p>Se ha enviado un enlace de recuperación de contraseña a su correo electrónico.</p>
